header
{
	.dropdown-toggle
	{
		&:after
		{
			display: none;
		}
		&:focus, &:active
		{
			outline: none !important;
			box-shadow: none;
		}
		padding: 0;
		border: 0;
		background: none;
	}
	.dropdown-toggle + .dropdown-menu
	{
		padding: 0;
		> a
		{
			padding-left: 10px;
			&.active
			{
				background: #f8f9fa;

			}
		}
	}
}